body {
    background-color: #89B0AE;
    font-family: 'Montserrat', sans-serif;
    margin: 0px
}
.navbar { 

    background-color:#415A77;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    
    
}


#logonav {
    align-items: left;
    color: wheat;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-width: 50%;
    height: 100%;
}

#logado{

    color: rgb(250, 250, 250);
    font-size:20px;
    font-weight:bolder;

}

h1 {
    color: rgb(214, 196, 162);
    font-size: 80;
    font-style: italic;
    font-weight:bolder;
}

.painelPrincipal{

    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    }

#eventosData{

        border-style: solid;
        border-radius: 20px;
        width:300px;
        height: 60px;
        
    }
