body {
    background-color: #457B9D;
    font-family: 'Montserrat', sans-serif;
    margin: 0px
}
.navbar {
    align-items: center;
    align-content: space-between;
    background-color: #415A77;
    color: #F1FAEE;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-weight:bolder;
    justify-content: center;
    text-decoration: none;
    position: fixed;
    width: 100%;
    height: 100px;
    
}
#logonav {
    align-items: left;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-width: 40%;
    height: 100%;
}

.navbar h1{
color: #E94957;
}

#submit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-items: center;
    
}

#submit p {

margin: 8px;
}

#submit input{

    height:25px;
    width: 100px;
    border-radius: 20px;
    font-size:16px;
    border-color: #F1FAEE ;
    border-style: solid;
    font-weight: bold;

}


nav button {
    justify-items: center;
    align-items: center;
    background-color: #415a77;
    border-style: inherit;
    
    border-color: rgb(23, 62, 97);
}

nav button:hover{
    background-color:rgb(57, 86, 121);
}
nav img {
    height: 80%;
}
/* nav esta ok*/

header {
    background-color: #A8DADC;
    color: #415A77;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    height: 700px;
    width: 800px;
    align-content: space-between;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-decoration: none;
}
header h1{
    color: #E94957;
    font-style: italic;
    font-size: 55px;
    font-style: italic;
    font-weight:bolder;
}
h2{
    font-weight:bolder;
    margin: 2px;
}

.modulos h2{
    color: #E94957;
    margin: 3px;
    font-weight: 900;
}

.modulos {
    background-color: #A8DADC;
    color: #415A77;
    width: 800px;
    height: 400px;
    display: flex;
    text-align: center;
    text-decoration: row;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
}


.agenda {
    border-radius: 15px;
    border-color: #415A77;
    border-style: solid;
    padding: 10px;
    width: 200px;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    justify-items: space-around;

}
.agenda img {
    height: 30%;
}
.cadastro img {

    height: 30%;
}
.estoque img {

    height: 30%;
    }
aside p{
    color: wheat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
}
aside h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    color: rgb(214, 196, 162);
}
    input[type=submit]{
    display: block;
    background-color: #ccc;
    color: #E94957;
    height: 35px;
    border: none;
    outline: 0;
    cursor: pointer;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
}
input[type="reset"]{ 
    display: block;
    background-color: #ccc;
    color: #E94957;
    height: 35px;
    border: none;
    outline: 0;
    cursor: pointer;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
}
.final{

    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

#beneficios{
    background-color:#A8DADC;
    color: #E94957;
    width: 375px;
    height: 320px;
    display: flex;
    line-height: 39px;
    text-align: left;
    flex-direction: column;

}

#beneficios h2{

  text-align: center;
  font-size:30px;
}

#textBen{
    font-size: 25px;
    font-weight: bolder;
    color: #415A77;
}

#espaço{
    width: 30px;
}

#contato{  
    color: #415A77; 
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    align-items: center;
    background-color: #A8DADC;
    height: 300px;
    width: 375px;
    
    font-size:20px;
}    
#info {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
#info input{

    width: 250px;
    border-width: 3px;
    padding: 10px;
    margin:5px;
    border-radius: 20px;
    font-size:16px;
    border-color: #415A77 ;
    border-style: solid;
    font-weight: bold;
}
textarea{
    resize:none;
}

.final button{

    background-color: #A8DADC;
    border-style: inherit;
    border-radius:50px;
    
}

.final button:hover{
    background-color:#80afb1;
}
       
.rodape{

    width: 800px;
    display: flex;
    flex-direction:row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
}

#redes{

    display: flex;
    flex-direction:row;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
    
}

.rodape h1{

    font-size: 20px;
    color:#F1FAEE;
}
.rodape button {
    
    background-color: #457B9D;
    border-color: rgb(58, 109, 153);
    border-style: inherit;

    }

.rodape button:hover{
        background-color:#415A77;
    }

