body {
    background-color: #457B9D;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
   
    
}
.navbar {
    align-items: center;
    align-content: space-between;
    background-color: #415A77;
    color: #F1FAEE;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-weight:bolder;
    justify-content: center;
    text-decoration: none;
    position: fixed;
    width: 100%;
    height: 100px;
    
}
#logonav {
    align-items: left;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-width: 40%;
    height: 100%;
}
#calendario{
  width: auto;
 

}


.month {
    padding-top: 120px;
    height:85px;
    width: 60%;
    background: #89b0ae;
    text-align: center;
    font-weight: bolder;
  
  }

.month ul {
    padding-top: 150px;
  margin: 0;
  padding: 0;
}

.month ul li {
  color: #415a77;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  width: 60%;
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.days {
  width: 60%;
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

.days li .active {
  padding: 5px;
  background: #bbd8d8;
  color: white !important
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
  .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
  .weekdays li, .days li {width: 12.5%;}
  .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
  .weekdays li, .days li {width: 12.2%;}
}

  #agenda{

    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:center;
    justify-items: center;
    flex-wrap: wrap;
    gap: 50px;

  }
 
  /* Float four columns side by side */
  .column {
    float: center;
    width: 30%;
    padding: 2px 2px;
    line-height:initial
  }
  
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 40%;
    
      margin-bottom: 2px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 2px 4px px rgba(0, 0, 0, 0.2);
    padding: 3px;
    text-align: center;
    background-color: #bbd8d8;
    color: #15293f;
       
  }
  .liagenda{
    list-style-type: none;
    
  }
  h2{
    color: #15293f;
    text-align: center
   
  }

  .liagenda input{
      border: 0px;
      border-radius:5px
      
      
  }