body {
    background-color: #89B0AE;
    font-family: 'Montserrat', sans-serif;
    margin: 0px
    
}

.navbar {
    background-color: #415A77;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#logonav {
    align-items: left;
    color: wheat;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-width: 50%;
    height: 100%;
}

#logado {
    color: rgb(250, 250, 250);
    font-size: 20px;
    font-weight: bolder;
    

}

h1 {
    color: rgb(214, 196, 162);
    font-size: 80;
    font-style: italic;
    font-weight: bolder;
}

.painelPrincipal {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    width: 900px;
}

#eventosData {
    border-style: solid;
    border-radius: 20px;
    width: 300px;
    height: 60px;
    color: #415A77;
}

.agenda {
    
    padding-top: 20px;
    color: #231b6e;
    font-weight: bolder;
    font-size: 20px;
    width: 300px;
    height: 60px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;

}

.agenda button{

    background-color:rgb(204, 207, 230);
    height: 40px;
    border-radius: 20px;
    font-weight: bolder;
    color: rgb(58, 109, 153) ;
    cursor:pointer;

    
}

.agenda button:hover{

    background-color:rgb(212, 200, 182);
}

.rodape button {
    background-color: #89B0AE;
    border-color: rgb(58, 109, 153);
    border-style: inherit;
}

h3 {
    color: #231b6e;
}

.rodape h1 {
    color: #B34A05;
}
textarea{
    resize: none;
}