body {
    background-color: #415A77;
    font-family: 'Montserrat', sans-serif;
    margin: 0px
}

h1 {
    color: #E94957;
}


#logado {
    color: #F1FAEE;
    font-size: 20px;
    font-weight: bolder;


}

.navbar {
    background-color: #415A77;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
}

#logonav {
    align-items: left;
    color: #E94957;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: start;
    align-content: center;
    align-items: center;
    min-width: 50%;
    height: 100%;
}


nav img {
    height: 90%;
}

#formCadastro {

    background-color: #89b0ae;
    color: #0a1a4e;
    font-weight: bold;
    width: 520px;
    height: 740px;
    padding: 20px;

}

#formCadastro button {

    border-radius: 10px;
    height: 30px;
    background-color: #bbd8d8;
    border-style: solid;
    color: #131b33;
    font-weight: bold;
    font-size: medium;
    cursor: pointer;
}

#painelCadastro {

    display: flex;
    flex-direction: row;

    justify-items: center;


}

#pastas {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin-left: 10px;
    gap: 20px;

}

#cadaPasta {
    border: 0px;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;

    color: #0a1a4e;
    background-color: #89b0ae;
    height: 125px;
    width: 140px;
    text-align: center;
}


#cadaPasta button {

    background-color: #89b0ae;
    border: 0px;
    cursor: pointer;
}

.cadastros {


    font-size: 18px;
    padding: 5px;
    line-height: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#cadaCadastro {
    height: 690px;
    width: 680px;
    background-color: #89b0ae;
    color: #222f5c;
    font-weight: bold;

    margin-top: 20px;
    margin-left: 15px;
}

#cadaCadastro h1 {

    color: #334997;
    font-size: 25px;

}

textarea {
    resize: none;
}

.cxtxt {
    margin-bottom: 10px;
    background-color: #d3ecee;
    font-size: 15px;

    border-style: none;
    border-radius: 15px;
}

#cadaCadastro button {

    border-radius: 10px;
    height: 30px;
    background-color: #bbd8d8;
    border-style: solid;
    color: #131b33;
    font-weight: bold;
    font-size: medium;
    cursor: pointer;
}