body {
    background-color: #A8DADC;
    font-family: 'Montserrat', sans-serif;
    margin: 0px
    
}

.navbar {
    background-color: #415A77;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#logonav {
    align-items: left;
    color: #E94957;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-width: 50%;
    height: 100%;
}

a:link {

    text-decoration: none;
}

a {

    color: #457B9D;
}

#logado {
    color: #F1FAEE;
    font-size: 20px;
    font-weight: bolder;
    

}

h1 {
    color: #E94957(214, 196, 162);
    font-size: 80;
    font-weight: bolder;
}

.notes{

    font-size: 25px;
    color:#415A77;
    font-weight: bolder;
    
}

.cxtxt{

    background-color: #d3ecee;
    border: 3px 
    solid #415A77;
    border-radius: 15px;
}

.irPara {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    justify-items: center;
    width: 800px;
    height: 300px;
}

#eventosData {
    border-style: solid;
    border-radius: 20px;
    width: 300px;
    height: 60px;
    color: #415A77;
}

.agenda {
    
    padding-top: 20px;
    font-weight: bolder;
    width: 300px;
    height: 300px;
    margin-top: 20px;
       
}

.agenda button{

    background-color: #D3ECEE;
    height: 150px;
    width: 150px;
    font-size: 25px;
    border-style: solid;
    border-width: 5px;
    border-color: #457B9D;
    border-radius: 20px;
    font-weight: bolder;
    
    cursor:pointer;
   
}

.rodape{

    display: flex;
    flex-direction: row;
    width: 800px;
    align-content: center;
    justify-content: space-between;
}

.agenda button:hover{

    background-color: #B9D1DF;
}

.rodape button {
    background-color: #A8DADC;
    border-color: rgb(58, 109, 153);
    border-style: inherit;
    cursor: pointer;
}

.redes button{

    background-color: #D3ECEE;
}

.rodape h1 {
    color: #415A77;
}
textarea{
    resize: none;
}